# Доступы к Jira
JIRA_BASE_URL=
JIRA_USER_EMAIL=
JIRA_API_TOKEN=

# Доступы к Tempo (часто требуется отдельный токен, в зависимости от версии)
TEMPO_API_TOKEN=

# Настройки скрипта указываем сотрудников или команды через запятую
# Если нужно исключить пользователя, пишем в TARGET_USERS !username

TARGET_USERS=

TARGET_TEAMS=

TARGET_PROJECTS=
AUTO_TAG=🤖  

# Дефолтное время ворклога (в секундах). 300 = 5 минут, 600 = 10 минут, 900 = 15 минут.
DEFAULT_TIME_SPENT_SECONDS=300

# Ключ поля для подстановки аккаунта (в Tempo)
ACCOUNT_ATTRIBUTE_KEY=

# Режим отладки True или False
DEBUG_MODE=False

PYTHONUNBUFFERED=1


# --- НАСТРОЙКИ ТАЙМАУТОВ (В СЕКУНДАХ) ---
# Таймаут для обычных запросов (чтение задач, поиск дублей, получение списка команд)
REQUEST_TIMEOUT=20

# Увеличенный таймаут специально для тяжелой операции сохранения ворклога
WORKLOG_TIMEOUT=60



# Ваш часовой пояс (например, Europe/Moscow, Asia/Almaty и т.д.)
TZ=Europe/Moscow

# Расписание запуска скрипта
SYNC_CRON1=0 22 * * *

#SYNC_CRON1=0 16 * * FRI
#SYNC_CRON2=0 09 * * THU
# SYNC_CRON3=30 18 * * 1-5

# запуск только в будни
#SYNC_CRON1=10 22 * * 1-5



# --- НАСТРОЙКИ ДЛЯ ЕЖЕДНЕВНЫХ ВСТРЕЧ ---

# Время начала ежедневных внутренних встреч (в формате ЧЧ:ММ)
MEETING_START_TIME=10:00

# Задача, куда списываем время (LIFE-5)
MEETING_ISSUE_KEY=LIFE-5

# Аккаунт для внутренней деятельности
MEETING_ACCOUNT_KEY=lo-14

# День недели: 1 - Пн, 2 - Вт, 3 - Ср, 4 - Чт, 5 - Пт
WEEKLY_MEETING_DAY=1

# Время начала еженедельной встречи (в формате ЧЧ:ММ)
WEEKLY_MEETING_START_TIME=17:00

# Продолжительность еженедельной встречи в секундах (3600 = 1 час)
WEEKLY_MEETING_DURATION_SECONDS=3600

# Кто не ходит на еженедельные встречи (заменяет старый MONDAY_EXCLUDE_USERS)
WEEKLY_EXCLUDE_USERS=

# Команды, которые НЕ участвуют в еженедельной встрече (через запятую)
WEEKLY_EXCLUDE_TEAMS=

# Расписание для автоматического списания встреч (например, каждый будний день в 23:00)
# Лучше, если это задание будет позже, чем Темпо по задачам, так как есть зависимость последовательностей.
MEETING_CRON=10 22 * * 1-5



# --- НАСТРОЙКИ MATTERMOST ---
# Ссылка на входящий вебхук
MATTERMOST_WEBHOOK_URL=

# Канал для уведомлений (можно переопределить дефолтный из вебхука)
MATTERMOST_DEFAULT_CHANNEL=

# Имя бота, от которого придет сообщение
MATTERMOST_USERNAME=Tempo_Comments


# --- НАСТРОЙКИ СПЕЦИАЛЬНЫХ АТРИБУТОВ (ГРУППА + ПРОЕКТ) ---
SPECIAL_GROUP=
SPECIAL_PROJECT=
# Впишите сюда реальный системный ключ поля из настроек Tempo
SPECIAL_ATTR_KEY=
# Впишите значение, которое нужно подставить
SPECIAL_ATTR_VALUE=


# В консоли можно посмотреть docker exec -it jira-tempo-sync python /app/comment.py


# Маппинг продуктов и аккаунтов (формат JSON)
PRODUCT_ACCOUNT_MAP={"Название продукта из Jira (Code-123456)": "Код из Темпо",.....указываем все нужне пары через запятую}
